@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Roboto+Slab:wght@300;400;500&display=swap');
// font-family: 'Inter', sans-serif;
// font-family: 'Roboto Slab', serif;

.App {
    .main-header {
        margin: 1rem;
        
        h3 {
            font: 2rem/2rem 'Roboto Slab', serif;
            font-weight: 400;
            text-align: center;
            margin: 1rem 0;
        }
        hr {
            margin: 0;
            padding-top: 2px;
            border-color: black;
            border-width: 0 0 1px 0;
            box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.3);
        }
    }
    footer {
        text-align: center;
        margin: 1rem;
        hr {
            margin: 1rem 0;
            padding-top: 2px;
            border-color: black;
            border-width: 0 0 1px 0;
            box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.3);
        }
        h3 {
            font: 1rem/1.5rem 'Roboto Slab', serif;
            font-weight: 400;
            margin: 0;
        }
        p {
            font: 1rem/1.5rem 'Inter', sans-serif;
            font-weight: 400;
            margin: 0;
        }
    }
}
